name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  gradle:
    name: Gradle Build
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle' # 启用 Gradle 依赖缓存

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Execute Gradle tasks
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew --dry-run

#      - name: Build with Gradle
#        run: ./gradlew lint

      - name: Build with Gradle
        run: ./gradlew assembleRelease
